html {
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #76cdae;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.main-area {
	width: 950px;
	height: 510px;
	display: grid;
	grid-template-columns: [left-col] 70px [center-col] 680px [right-col] 200px [end-col];
	grid-template-rows: [top-row] 50px [main-row] 460px [row-end];
}

.global-controls-area {
	grid-column-start: center-col;
	grid-column-end: end-col;
	grid-row-start: top-row;
	grid-row-end: main-row;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.workspace-area {
	grid-column-start: center-col;
	grid-row-start: main-row;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.canvas-container {
	position: relative;
	width: 650px;
	height: 450px;
	background: #ffffff;
	border: 1px solid black;
}

.canvas {
	position: absolute;
}

.tools-area {
	grid-column-start: left-col;
	grid-column-end: center-col;
	grid-row-start: main-row;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.tools-itm {
	cursor: pointer;
	padding: 5px;
	transition: all 0.25s ease;
}

.tools-itm:hover {
	background-color: gray;
}

.tools-itm-selected {
	stroke: #feb8b7;
	stroke-width: 20;
}

.controls-area {
	grid-column-start: right-col;
	grid-row-start: main-row;
	display: flex;
	flex-flow: column;
}

.controls-item {
	margin: 5px;
}

.layer-controls {
	width: 100%;
	max-height: 40vh;
	display: flex;
	flex-flow: column;
}

.layer-controls-title {
	flex: 0 1 auto;
}

.layer-controls-button-container {
	display: flex;
	flex: 0 1 auto;
	justify-content: space-between;
}

.layer-controls-button {
	cursor: pointer;
	margin: 5px;
	transition: all 0.25s ease;
}

.layer-controls-button:hover {
	background-color: gray;
}

.layer-items-container {
	flex: 1 1 auto;
	overflow-y: auto;
}

.layer-item {
	display: flex;
	margin: 5px;
	justify-content: space-between;
	align-items: center;
}

.color-picker {
	display: flex;
	align-items: center;
}

.color-picker-selected {
	height: 40px;
	width: 40px;
	border: black;
	border-style: solid;
}

.zoom-area {
	grid-column-end: end-col;
	grid-row-start: top-row;
	grid-row-end: main-row;
	display: flex;
	align-items: center;
}

.zoom-display {
	font-weight: bold;

}

.pattern-buttons-container {
	display: flex;
	flex-wrap: wrap;
}

.pattern-button {
	width: 25px;
	height: 25px;
	margin: 5px;
	background: white
}

.canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}

.range-picker {
	display: flex;
	justify-content: space-between;
}

.range-picker-slider {

}

.range-picker-input {
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
}


.Typist .Cursor {
  display: inline-block; }
  .Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
